body {
  font-family: "Messina", sans-serif;
}

@font-face {
    font-family: Messina;
    src: url('../fonts/MessinaSans_Web_Light/MessinaSansWeb-Light.woff');
    font-weight: lighter;
}

@font-face {
    font-family: Messina;
    src: url('../fonts/MessinaSans_Web_Regular/MessinaSansWeb-Regular.woff');
}

@font-face {
    font-family: Messina;
    src: url('../fonts/MessinaSans_Web_Bold/MessinaSansWeb-Bold.woff');
    font-weight: bold
}
/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: black !important;
} */
