body {
  font-family: "Messina", sans-serif;
}

@font-face {
    font-family: Messina;
    src: url('../fonts/MessinaSans_Web_Light/MessinaSansWeb-Light.woff');
    font-weight: lighter;
}

@font-face {
    font-family: Messina;
    src: url('../fonts/MessinaSans_Web_Regular/MessinaSansWeb-Regular.woff');
}

@font-face {
    font-family: Messina;
    src: url('../fonts/MessinaSans_Web_Bold/MessinaSansWeb-Bold.woff');
    font-weight: bold
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
