body {
  font-family: "MessinaBold", sans-serif;
}

@font-face {
    font-family: MessinaLight;
    src: url('../fonts/MessinaSans_Web_Light/MessinaSansWeb-Light.woff');
}

@font-face {
    font-family: MessinaRegular;
    src: url('../fonts/MessinaSans_Web_Regular/MessinaSansWeb-Regular.woff');
}

@font-face {
    font-family: MessinaBold;
    src: url('../fonts/MessinaSans_Web_Bold/MessinaSansWeb-Bold.woff');
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}
