.container {
  max-width: 95vw;
  width: 1350px;
  margin: 0px auto;
}

@media screen and (max-width: 1920px) {
  .container {
    max-width: 90vw;
    width: 1080px;
    margin: 0px auto;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 90vw;
    width: 810px;
    margin: 0px auto;
  }
}

@media screen and (max-width: 960px) {
  .container {
    max-width: 95vw;
    width: 720px;
    margin: 0px auto;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 95vw;
    margin: 0px auto;
  }
}
