.scene {
  width: 200px;
  height: 200px;
  margin: 80px;
  perspective: 400px;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}

.cube.show-front {
  transform: translateZ(-100px) rotateY(0deg);
}
.cube.show-right {
  transform: translateZ(-100px) rotateY(-90deg);
}
.cube.show-back {
  transform: translateZ(-100px) rotateY(-180deg);
}
.cube.show-left {
  transform: translateZ(-100px) rotateY(90deg);
}
.cube.show-top {
  transform: translateZ(-100px) rotateX(-90deg);
}
.cube.show-bottom {
  transform: translateZ(-100px) rotateX(90deg);
}

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 200px;
  font-size: 180px;
  font-weight: bold;
  color: black;
  border: 7px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialised;
  box-shadow: inset 8px 8px 8px 0 rgba(0, 0, 0, 0.06);
}

.cube__face--front {
  text-shadow: 7.5px 7.5px 0px #feb200;
  background: whitesmoke;
}
.cube__face--right {
  text-shadow: 7.5px 7.5px 0px #12e61c;
  background: whitesmoke;
}
.cube__face--back {
  text-shadow: 7.5px 7.5px 0px #e62979;
  background: whitesmoke;
}
.cube__face--left {
  text-shadow: 7.5px 7.5px 0px #1e5ce6;
  background: whitesmoke;
}
.cube__face--top {
  text-shadow: 7.5px 7.5px 0px teal;
  background: whitesmoke;
}
.cube__face--bottom {
  text-shadow: 7.5px 7.5px 0px salmon;
  background: whitesmoke;
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(100px);
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(100px);
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(100px);
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(100px);
}
.cube__face--top {
  transform: rotateX(90deg) translateZ(100px);
}
.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(100px);
}
