@circle-size: 50px;
@margin: 20px;

.header {
  display: flex;
  align-items: center;
}

.todo {
  padding-left: @circle-size / 2 + @margin;
  margin-left: @circle-size / 2;
  border-left: 1px solid lightgray;
}

.due {
  width: 200px;
}

.index {
  width: @circle-size;
  height: @circle-size;
  border-radius: @circle-size / 2;
  border: 1px solid lightgray;
  font-size: 17px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: @margin;
  transition: all 0.3s ease;
  cursor: pointer;
}

.index:hover {
  transform: scale3d(1.1, 1.1, 1.1)
}

.done {
  color: #6acc94;
  border-color: #6acc94;
}

.doneby {
  display: flex;
  align-items: center;
}

.date {
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.month {
  color: red;
  margin-right: 10px;
}

.day {
  margin: 0px;
}