.container {
  padding: 20px;
}

.paper {
  padding: 20px;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.field {
  width: 100%;
  margin-bottom: 10px;
}

.area {
  max-height: 250px;
  overflow: scroll;
}

.btnwrap {
  display: flex;
  width: 100%;
  justify-content: center;
}

.btn {
  width: 100px;
}

.todoheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}