.bar {
  padding: 8px 16px;
  display: flex;
  align-items: center;
}

.stats {
  display: flex;
  align-items: center;
  color: gray;
  margin-right: 10px;
}

.circle {
  width: 16px;
  height: 16px;
  background-color: #1a77ad;
  color: white;
  margin-right: 5px;
  cursor: pointer;
}

.icon {
  width: 10px;
  height: 10px;
}

.number {
  font-size: 12px;
}

.title {
  padding: 10px 20px;
}

.likedby {
  padding: 10px 20px;
}

.like {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.avatar {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
