.bar {
  padding: 8px 16px;
  display: flex;
  align-items: center;
}

.stats {
  display: flex;
  align-items: center;
  color: gray;
  margin-right: 10px;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #1a77ad;
  color: white;
  margin-right: 5px;
}

.icon {
  width: 12px;
  height: 12px;
}
