.card {
  height: 100%;
  border: 1px dashed lightgray;
  border-radius: 5px;
}

.area {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  transform: scale3d(2, 2, 2);
  color: #555;
}
