.typo {
  color: #444;
}

.area {
  border-bottom: 1px solid #eee;
}

.image {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
}

.indicator {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  transform: scale3d(3, 3, 3);
  color: gray;
}

.progress {
  color: gray;
}
