.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  flex-grow: 10;
  flex-shrink: 10;
  margin-right: 20px;
}

.right {
  flex-grow: 10;
  flex-shrink: 10;
  margin-left: 20px;
}