.button {
  position: static;
  width: 530px;
  height: 64px;
  color: whitesmoke;
  background-color: var(--color-primary);
  border: 2px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 7.5px 7.5px 0px #000000;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
}

.button:focus {
  outline: 0;
}

.button:active {
  transform: scale(0.95);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form > *:not(:last-child) {
  margin-bottom: 20px;
}

.textInput {
  position: static;
  width: 530px;
  height: 64px;
  padding: 20px;
  background: #ffffff;
  border: 2px solid #000000;
  box-sizing: border-box;
  filter: drop-shadow(7.5px 7.5px 0px var(--color-primary));
}

.textInput:focus {
  outline: 0;
}