.wrapper {
  width: 1080px;
  height: auto;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 50px;
  display: grid;
  column-gap: 40px;
  row-gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.location {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
}
