.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button {
  height: 50px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}
