/* Eventcard Wrapper */
.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: auto 1fr;
  border: 2px solid black;
  background-color: whitesmoke;
  filter: drop-shadow(7.5px 7.5px 0px var(--color-primary));
  grid-column-gap: 5%;
}

.wrapper > * {
  filter: none;
}

/*Style when details are shown*/

.isActive {
  background-color:rgba(255,255,255,0.90);
}

/*EventCard elements - right column*/

.flexColumn {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  overflow: hidden;
}

.details {
  display: flex;
  flex-direction: column;
}

.description {
  overflow-y: auto;
  text-align: left;
  padding: 12% 7.5% 5% 7.5%;
  flex-grow: 1;
  flex-basis: 200px;

}

.title {
  font-family: Montserrat;
  margin: 0;
  color: #000000;
  text-shadow: 5px 5px 0px var(--color-primary);
  padding-bottom:2.5%;
  padding-right: 5%;
  -webkit-text-stroke: 2px whitesmoke;
  text-align: right;
  hyphens: auto;
}

.subtitle {
  font-family: Montserrat;
  margin: 0;
  text-align: right;
  color: var(--color-primary);
  -webkit-text-stroke: 2px black;  
  padding-bottom:2.5%;
  padding-right: 5%;
}

/*More Button*/

.moreButton {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  width: 1em;
  height: 1em;
  color: #000000;
  border: 1px solid #ffffff;
  text-shadow: 2px 2px 0px #feb200;
  transition: transform 300ms ease;
  border: none;
}

.moreButton:focus {
  outline: none;
}

.moreButton.slanted {
  transform: rotate(45deg);
}

/*EventCard elements - left column*/

.date {
  font-family: Montserrat;
  margin: 0;
  text-shadow: 5px 5px 0px var(--color-primary);
  padding-top:2.5%;
  padding-left: 7.5%;
  -webkit-text-stroke: 2px whitesmoke;
}

.time {
  font-family: Montserrat;
  margin: 0;
  color: var(--color-primary);
  -webkit-text-stroke: 2px black;
  padding-top:2.5%;
  padding-left: 7.5%;
}
