.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  border: 2px solid black;
  background-color: whitesmoke;
  filter: drop-shadow(7.5px 7.5px 0px var(--color-primary));
}

.wrapper > * {
  filter: none;
}

.top {
  grid-column: 1 / span 2;
  grid-row: 1;
  justify-self: start;
  align-self: start;
}

.bottom {
  grid-column: 1 / span 2;
  grid-row: 2;
  justify-self: end;
  align-self: end;
}

.date {
  font-family: Montserrat;
  margin: 0;
  text-shadow: 5px 5px 0px var(--color-primary);
  -webkit-text-stroke: 2px whitesmoke;
}

.time {
  font-family: Montserrat;
  margin: 0;
  color: var(--color-primary);
  -webkit-text-stroke: 2px black;
}

.title {
  font-family: Montserrat;
  margin: 0;
  color: #000000;
  text-shadow: 5px 5px 0px var(--color-primary);
  -webkit-text-stroke: 2px whitesmoke;
}

.subtitle {
  font-family: Montserrat;
  margin: 0;
  text-align: right;
  color: var(--color-primary);
  -webkit-text-stroke: 2px black;
}
