.container {
  position: relative;
  overflow: visible;
  width: 100%;
}

.inputRoot {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.inputInput {
  flex-basis: 50px;
  flex-grow: 1;
}

.paper {
  width: 100%;
  position: absolute;
  z-index: 10;
}

.menuItem > :not(:last-child) {
  margin-right: 5px;
}

.chip {
  margin-right: 5px;
  margin-bottom: 5px;
}

.chipLabel {
  display: flex;
  align-items: center;
  
  span {
    display: flex;
    align-items: center;
  }

  > :not(:last-child) {
    margin-right: 5px;
  }
}
