.bodyLink {
  text-shadow: 10px -10px 0px #ccc;
  font-size: 25.5vh;
  text-transform: uppercase;
  transition: text-shadow 0.5s ease;
}

.events:hover {
  text-shadow: 10px -10px 0px var(--color-events);
}

.archive:hover {
  text-shadow: 10px -10px 0px var(--color-archive);
}

.about:hover {
  text-shadow: 10px -10px 0px var(--color-about);
}

.contact:hover {
  text-shadow: 10px -10px 0px var(--color-contact);
}
