.header {
  width: 100vw;
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding-top: 10px;
  z-index: 100;
  transition: 0.3s ease;
  transform-origin: top center;
}

.header:not(.show) {
  transform: translateY(-120px);
  opacity: 0;
}

.header.show {
  opacity: 1;
  transform: translateY(0%);
  transition: 0.3s ease;
}

.currentRoute h1 {
  font-size: 95px;
  text-transform: uppercase;
  color: #000000;
  text-shadow: 5px 5px 0px var(--color-primary);
  -webkit-text-stroke: 2px whitesmoke;
}

@media screen and (max-width: 960px) {
  .currentRoute h1 {
    font-size: 64px;
  }
}

.link h1 {
  font-size: 95px;
  -webkit-text-stroke: 2px whitesmoke;
}

@media screen and (max-width: 960px) {
  .link h1 {
    font-size: 64px;
  }
}

.link.events svg {
  color: var(--color-events);
  filter: drop-shadow(7px 0px 0px black);
}

.link.archive svg {
  color: var(--color-archive);
  filter: drop-shadow(7px 0px 0px black);
}

.link.about svg {
  color: var(--color-about);
  filter: drop-shadow(7px 0px 0px black);
}

.link.contact svg {
  color: var(--color-contact);
  filter: drop-shadow(7px 0px 0px black);
}

.left {
  position: absolute;
  left: 30px;
}

.right {
  position: absolute;
  right: 30px;
}
