.imagefield {
  display: flex;
  align-items: center;
}

.button {
  margin-right: 10px;
  padding: 0px;
}

.typo {
  color: gray;
}

.icon {
  position: absolute;
  color: gray;
  z-index: 10;
  transform: scale3d(1.5, 1.5, 1.5);
  transition: all 0.5s ease;
}

.avatar-empty {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px dashed gray;
  cursor: pointer;
}

.avatar {
  width: 100px;
  height: 100px;
}
