.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field {
  margin-bottom: 5px;
}

.button {
  height: 50px;
}

.input {
  color: #f2f2f2;
}

.label {
  color: #f2f2f2 !important;
}

.title {
  color: #f2f2f2;
}
