.comment {
  padding: 0px 16px;
  margin-bottom: 7px;
  max-width: 100%;
}

.content {
  display: flex;
  align-items: flex-start;
}

.user {
  color: #1a77ad;
  font-weight: bold;
  margin-right: 8px;
}

.avatar {
  width: 1.7em;
  height: 1.7em;
}

.text {
  white-space: normal;
  align-self: center;
  padding: 0.35em 0.7em;
  margin-left: 10px;
  background: #eee;
  border-radius: 15px;
}