@import '../../../index.less';

.outer {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

.container {
  flex-grow: 100;
  width: 100%;
  overflow: scroll;
}

.list {
  width: 100%;
}

.chats {
  border-right: 1px solid #eee;
}

.header {
  margin-top: 20px;
}

.chat {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.chatInner {
  display: flex;
  align-items: center;

  > *:not(:last-child) {
    margin-right: 10px;
  }
}

.badge {
  background-color: @success-color;
}

.lastOnline {
  color: #999;
  font-size: 12px;
}

.selected {
  background-color: #eee;
}
