.outer {
  position: relative;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
}

.down {
  position: absolute;
  bottom: 60px;
  left: 0px;
  height: 50px;
  width: 50px;
  min-width: 50px;
  border-radius: 25px;
}
