.content {
  padding: 15px 10px !important;
}

.form {
  display: flex;
}

.avatar {
  margin-right: 15px;
}

.preview {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px;
}

.input {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: #eee;
  padding: 5px 10px;
  flex-grow: 100;
  margin-right: 5px;
}

.submit {
  width: 100%;
  margin-top: 10px;
}
