.drawer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url('/drawer.jpg');
  background-position: center;
  background-size: cover;
  width: 260px;
}

.divider {
  background-color: #898989;
}
